/*********
 *GENERAL*
 *********/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




/********
 *HEADER*
 ********/

#head-container {
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#head-logo {
    font-size: 50px;
    margin: 20px;
}

#head-choices {
    margin: 20px;
    font-size: 40px;
}

#head-choices > select, button {
    margin: 10px;
    padding: 5px;
}







/******
 *MAIN*
 ******/

#main-container {
    background-color: #7fffd4;
    height: calc(100vh - 150px);
}

#game-container {
    margin: 0 auto;
    padding-top: 150px;
    width: 500px;
} 

#game-container > div {
    border: 2px solid black;
    width: 500px;
    height: 500px;
}

.square {
    float: left;
    width: 10%;
    height: 10%;
    border: 2px solid black;
}






/********
 *FOOTER*
 ********/

#foot-container {
    height: 50px;
}

#foot-container > div {
    font-size: 18px;
    padding: 10px 20px;
}






